@import 'tailwindcss';

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme {
  --color-success: #0e9f6e;
  --color-error: #f05252;
  --color-primary: var(--color-blue-500);
  --color-primary-hover: var(--color-blue-600);
}

/* 특정 태그에 대해 디폴트 css 생성 */
@layer components {
  button {
    cursor: pointer;
  }
}

body {
  background-color: #f5f5f7;
}
